/* --- AJUSTE DOS PERSONAGENS NO MOBILE --- */
@media (max-width: 768px) {
    .char-grid { 
        display: flex;
        flex-wrap: wrap; 
        height: auto; 
    }

    .char-card { 
        flex: none; 
        width: 50%; /* Faz os personagens normais ficarem em duplas */
        height: 250px; 
    }

    /* FAZ O POPIPI FICAR GRANDE NO TOPO */
    .char-card.darkblue { 
        width: 100%; 
        height: 350px; /* Um pouco maior para dar destaque */
        order: -1; /* Garante que ele suba para a primeira posição */
        background: #add8e6; /* Cor Azul Claro (mesma da seção lightblue) */
    }
    
    /* Ajuste extra para a cor de fundo do verso do card do Popipi no mobile */
    .char-card.darkblue .card-back {
        background: #79abc2;
    }
}
